.form-title {
  margin: 5% auto;
  text-align: center;
}

.form-container {
  width: 60%;
  margin: 0 auto;
}

.side-func {
  margin-left: 20px;
}

.link:hover {
  color: purple;
  text-decoration: underline;
}
