.search-input {
  float: right;
  margin-bottom: 20px;
  width: 193px !important;
}

.home-pagination {
  margin: 20px auto 0;
  text-align: center;
}

.tagHolder {
  margin: 53px 0 10px;
  border: #dededf 1px solid;
  border-radius: 3px;
  padding: 14px;
  color: #333;
}
