/* Navbar */
.logo-text {
  font-size: 1.3rem;
}

.sign-btn {
  margin: 5px 10px 0 0;
}

.signin-btn {
  margin-right: 5px !important;
}

.drop-item {
  padding: 0 !important;
}

.sign-out {
  margin:0 10px 10px !important;
}

/* Announcement */
@media only screen and (max-width: 767px) {
  .card-box {
    margin-top: 20px;
  }
}

/* TagGroup */
.tag-group {
  margin-top: 20px;
}

.tag-label {
  margin: 5px 5px 0 0 !important;
}

.tag-label-active {
  background-color: #d6d6d6 !important;
}

.tag-label:hover {
  cursor: pointer;
  background-color: #d6d6d6 !important;
}
