/* Navbar */
.logo-text {
  font-size: 1.3rem;
}

.sign-btn {
  margin: 5px 10px 0 0;
}

.signin-btn {
  margin-right: 5px !important;
}

.drop-item {
  padding: 0 !important;
}

.sign-out {
  margin:0 10px 10px !important;
}

/* Announcement */
@media only screen and (max-width: 767px) {
  .card-box {
    margin-top: 20px;
  }
}

/* TagGroup */
.tag-group {
  margin-top: 20px;
}

.tag-label {
  margin: 5px 5px 0 0 !important;
}

.tag-label:hover {
  cursor: pointer;
  background-color: #d6d6d6 !important;
}

/* Problem Description */
@media only screen and (max-width: 767px) {
  .problem-description {
    margin-top: 20px;
  }
}

/* Problem Content */
.sampleIO {
  margin-top: 20px;
  border: 1px solid #d4d4d5;
}

.sampleIO p {
  margin: 0;
  padding: 5px;
  font-weight: 600;
}

.io {
  margin: 0;
  padding: 5px;
  background-color: #f2f2f2;
  color: #6c1852;
}

.io:hover {
  cursor: pointer;
}

.io-tooltip-container {
  display: none;
  float: right;
}

.io-tooltip {
  bottom: 35px;
  right: 400px;
  margin: 0 !important;
}

.father:hover .io-tooltip-container {
  display: block;
}
