/* Navbar */
.logo-text {
  font-size: 1.3rem;
}

.sign-btn {
  margin: 5px 10px 0 0;
}

.signin-btn {
  margin-right: 5px !important;
}

.drop-item {
  padding: 0 !important;
}

.sign-out {
  margin:0 10px 10px !important;
}

/* Announcement */
@media only screen and (max-width: 767px) {
  .card-box {
    margin-top: 20px;
  }
}

/* Tag Group */
.tag-group {
  margin-top: 20px;
}

.tag-label {
  margin: 5px 5px 0 0 !important;
}

.tag-label:hover {
  cursor: pointer;
  background-color: #d6d6d6 !important;
}

/* Problem Description */
@media only screen and (max-width: 767px) {
  .problem-description {
    margin-top: 20px;
  }
}

/* Problem Content */
.sampleIO {
  margin-top: 20px;
  border: 1px solid #d4d4d5;
}

.sampleIO p {
  margin: 0;
  padding: 5px;
  font-weight: 600;
}

/* Click To Copy */
.io {
  margin: 0;
  padding: 5px;
  background-color: #f2f2f2;
  color: #6c1852;
}

.io:hover {
  cursor: pointer;
}

.io-tooltip-container {
  display: none;
  float: right;
}

.io-tooltip {
  bottom: 40px;
  right: 300px;
  margin: 0 !important;
}

@media only screen and (max-width: 767px) {
  .io-tooltip {
    right: 200px;
  }
}

.father:hover .io-tooltip-container {
  display: block;
}

/* Code Form */
.code-editor {
  width: 100% !important;
  height: 300px !important;
}

/* Result Table */
.result-table {
  margin-top: 20px;
}

/* Contest Table */
.type-icon:hover {
  cursor: pointer;
}

.tooltip-container {
  position: absolute;
  display: none;
}

.father:hover .tooltip-container {
  display: block;
}

.tooltip-container:hover {
  cursor: pointer;
}

.tooltip {
  bottom: 40px;
  right: 23px;
}

@media only screen and (max-width: 1020px) {
  .tooltip {
    right: 27px;
  }
}

@media only screen and (min-width: 1220px) {
  .tooltip {
    right: 13px;
  }
}

.secret-contest {
  color: #327fca;
}

.secret-contest:hover {
  cursor: pointer;
}

/* Problem Table */
.problem-title {
  color: #327fca;
}

.problem-title:hover {
  cursor: pointer;
}

/* Count Down */
.count-down {
  margin-top: 20px;
}

/* Rank Table */
.rank-ac {
  color: green;
}
